<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <h2>パスワード再設定フォーム</h2><br>

  <%= f.input :email, label: "メールアドレス", autofocus: true, autocomplete: "email", placeholder: "連絡の取れるメールアドレスを入力してください" %><br>

  <%= f.button :submit, "パスワードを再設定します", :class => "btn-primary" %><br>

  <%= render "users/shared/links" %>

<% end %>
