/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 header{
    height: 100px;
    width: auto;
    background-color: ghostwhite
 }

 body{
    background-image: image-url('tachibana.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
 }

 .mask{
    /*背景を透過させるための擬似要素*/
    min-height: 100vh;
    height: 100%;
    background: rgba(255,255,255,0.6);
 }

 .main-page {
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
    line-height: 3em;
 }

 .main-page h1{
    font-weight: bold;
    color: red;
 }

 li{
    padding: 5px 5px;
 }

 #logo {
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
 }

 .calendar-heading{
   font-size: 20px;
 }

 .calendar-title{
   font-size: 30px;
   margin:10px 30px;
 }