// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-main {
  font-size: 1em;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;
}

.event-form{
  font-size: 1em;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;

}

table{
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

table th{
  padding:10px; 
  background-color: aliceblue;
  white-space: nowrap;
}

table td{
  padding:10px; 
  white-space: nowrap;
}