// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-main {
  font-size: 1em;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;
  margin: 0 auto;
}

.event-main h1{
  font-weight: bold;
}

.event-search{
  max-width: 400px;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  border: 3px dashed;
  padding: 20px;
  margin: 20px auto;
}

table{
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
}

table th{
  padding:10px; 
  background-color: aliceblue;
  white-space: nowrap;
}

table td{
  padding:10px; 
  white-space: nowrap;
}

.event-form{
  font-size: 1em;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;
}

.event-show{
  font-weight: bold;
  line-height: 2em;
  padding: 20px;
  margin: 0 auto;
  border: 3px dashed;
}