<p><%= @resource.email %>様、お問い合わせありがとうございます。</p>

<p>パスワード変更希望のリクエストを承りました。以下のリンクから設定をお願いします。</p>

<p><%= link_to '新規パスワード設定はこちらから', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、こちらのメールに覚えがないようであれば、無視してください。</p>

<p>上記リンクから操作を行わない限り、パスワードは変更されません。</p>
